footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline:20px ;
    padding-block:10px ;
    margin-top: 20px;
    width: 100%;
    background-color: var(--gray);
}
.footer_icon{
    display: flex;
    align-items: center;
    column-gap: 5px;
    position: relative;
}
.footer_icon svg{
    cursor: pointer;
}
.footer_icon svg:hover{
    transform: translateY(-5px) scale(1.1);
    filter:drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.5)) ;
}
.footer_input-con input{
    color: gray;
    border-radius: 20px;
    border: 0px;
    padding: 10px;
    width: 200px;
    outline: none;
    border: none;
}
.gotop{
    transform: rotate(180deg) !important;
}
.gotop:hover{
    transform:translateY(-5px) scale(1.1) rotate(180deg) !important;
}
#delete-btn{
   cursor: pointer;
   border-radius: 50%;
}
#delete-btn:hover{
    outline: 2px solid var(--primary-color);
    box-shadow: 0px 0px 7px 10px red;
    z-index: 1;
    transform:translateY(0px) scale(1.1) ;
}
.delete-btn-con::before{
  content: "Double click to delete all trays";
  height: 42px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background: red;
  border-radius: 20px;
  position: absolute;
  top: -47px;
  right: -9px;
  padding-inline: 17px;
  opacity: 0;
  visibility: hidden;
  font-size: 10px;
}
.delete-btn-con::after{
  content: "";
  height: 10px;
  width: 10px;
  transform: rotate(45deg);
  display: block;
  z-index: 100;
  background: red;
  position: absolute;
  top: -10px;
  right: 47px;
  opacity: 0;
  visibility: hidden;
}
.delete-btn-con::before,.delete-btn-con::after{
  transition: 1s ease;
}
.delete-btn-con:hover::before,
.delete-btn-con:hover::after{
  opacity: 1;
  visibility: visible;
}

.tooltip_foot {
    position: relative;
    color: #fff;
    z-index: 100;

  }
 
  .tooltip_foot::after {
    content: "iii";
    background: var(--primary-color);
    width: 10px;
    height: 40px;
    display: block;

  }
  