header img{
 border-radius: 50%;
 cursor: pointer;
 transition: 1s;
 filter: none;
}  
  
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 20px;
    background-color: var(--primary-color);
    position:fixed;
    z-index: 100;
    width: 100vw;
    transform: translateY(-48px);
    filter: saturate(1.5)
}
header .navbars{
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 3px;
    cursor: pointer;
}
header .navbars span{
    width: 35px;
    height: 4px;
    border-radius: 30px;
    background-color: var(--black);
    transition: 1s;
}
header .navbars span:last-child{
    width: 20px;
}
.activeBar span:nth-child(1){
    transform: rotate(45deg) translate(5px,6px);
}
.activeBar span:nth-child(2){
    transform: translateX(-65px);
}
.activeBar span:last-child{
    transform: rotate(-45deg)  translate(3px,-5px);
    width: 35px !important;

}
header .header-con{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}
header .header-con .nav-icon{
    display: flex;
    justify-content: center;
    column-gap: 10px;
    cursor: pointer;
    transition: 2s;
}
header .header-con .nav-icon svg{
    transition: 0.5s;
}
header .header-con .nav-icon svg:hover{
    transform: translateY(-5px) scale(1.1);
}
header img:hover{
    transform:scale(1.1);
}