nav{
    position: fixed;
    top: 45px;
    width: 60%;
    height: 100vh;
    background-color:var(--primary-color) ;
    padding: 10px;
    padding-block-start: 40px;
    font-size: 22px;
    transform: translateX(-340px);
    visibility: hidden;
    transition: 2s;
    z-index: 100000000;
    filter: saturate(0.5);
}
.activeNav{
    transform: translateX(0px);
    visibility: visible;
}
.nav-con{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.nav-con div{
    display: flex;
    align-items: center;
    position: relative;
    column-gap: 5px;
    cursor: pointer;
}
.nav-con div p{
    color:var(--white) ;
    font-size: var(--small-font-size);
}
.nav-con div span{
  position: absolute;
  right: 0;
  top: -16px;
  font-size: 18px;
  color: var(--black);
  background: var(--gray);
  padding: 10px;
  height: 33px;
  width: 33px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav_hov:hover svg{
    -webkit-animation: jello-horizontal 0.9s both;
	        animation: jello-horizontal 0.9s both;
}
.nav_hov:hover label{
    -webkit-animation: jello-horizontal 0.9s both;
    animation: jello-horizontal 0.9s both;
}
 @-webkit-keyframes jello-horizontal {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
              transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }
  @keyframes jello-horizontal {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
              transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }
  